#about a:hover::before,
#skills a:hover::before,
#contact a:hover::before {
    transform: scaleX(1);
}

#about a::before,
#skills a::before,
#contact a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

#projects {
    text-decoration: underline;
}

main {
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
}

.projectUnit {
    margin: auto;
    margin-bottom: 100px;
    width: 50%;
    text-align: center;
}

p {
    text-align: left;
}

a {
    color: black !important;
}

img {
    width: 500px;
}

.refoodpic {
    width: 30%;
}

video {
    width: 80%;
}

.refood {
    width: 30%;
    -webkit-filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.2));
    box-shadow: none;
}

.website {
    width: 100%;
}

.refood:hover {
    width: 30%;
    -webkit-filter: drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.2));
    box-shadow: none;
}

.four-in-a-row {
    width: 100%;
}

.neural-network {
    width: 60%;
}


video {
    position: relative;
    top: 0;
    transition: ease 0.5s;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

video:hover {
    top: -5px;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2);
}


.hoverMe {
    position: absolute;
    top: 10vw;
    left: 115%;
    filter: opacity(0.5);
    width: 130px !important;
}

.clickMe {
    position: absolute;
    top: 45vw;
    left: 85%;
    display: none;
}

video.loading {
    background: black center center no-repeat;
}

.video-container {
    position: relative;
    width: fit-content;
    /* set the desired width for the video */
    height: 320px;
    margin: auto;
    /* set the desired height for the video */
}

img,
video {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}


@media only screen and (max-width: 600px) {
    video {
        width: 80vw !important;
    }

    main {
        width: 80vw;
        padding: 0;
        margin: auto;
    }

    p {
        margin: auto !important;
        width: 230px;
        text-align: center;
    }

    .projectUnit {
        margin: 0;
        width: 80vw;
        margin-bottom: 50px;
    }

    .hoverMe {
        display: none;
    }

    .clickMe {
        display: block;
    }

    .refood {
        width: 30% !important;
    }

    .video-container {
     height: fit-content;   
    }
}